<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>新安社区管理系统后台</title>

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/ready.css">
    <link rel="stylesheet" href="../assets/css/my.css">
    <link rel="stylesheet" href="../assets/css/demo.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
</head>

<body>
<div class="wrapper" id="app">
    <!--头部信息-->
    <div class="main-header">

        <nav class="navbar navbar-header navbar-expand-lg">
            <div class="container-fluid">

                <div id="addname"></div>  <a href="../admin/logout" methods="post">退出登录</a>

            </div>
        </nav>
    </div>

    <!--左侧信息栏-->
    <div class="sidebar">
        <div class="scrollbar-inner sidebar-wrapper">

            <ul class="nav">
                <li class="nav-item " v-show="isAdmin">
                    <a href="adminIndex.html">
                        <i class="la la-user-secret">
                        </i>
                        <p>员工信息</p>
                    </a>
                </li>
                <li class="nav-item"  >
                    <a href="adminUser.html">
                        <i class="la la-user"></i>
                        <p>业主信息</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="adminCar.html">
                        <i class="la la-automobile"></i>
                        <p>停车位信息</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="adminNews.html">
                        <i class="la la-bullhorn"></i>
                        <p>社区公告</p>
                    </a>
                </li>
                <li class="nav-item ">
                    <a href="adminVisitor.html">
                        <i class="la la-list-alt"></i>
                        <p>外来人员登记</p>
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="adminHelp.html">
                        <i class="la la-exclamation-circle"></i>
                        <p>安防管理</p>
                    </a>
                </li>

            </ul>
        </div>
    </div>

    <!--中间主体内容-->
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
                <div class="card-body ">

                </div>

                <div class="row" id="showAll">
                    <div class="col-lg-7 col-md-3 col-sm-12" id="showAll1">
                        安全主题：<br><textarea id="hear" cols="100px" rows="2px"  style="resize:none"  required></textarea><br>
                        主要内容：<br><textarea  id="contents" cols="100px" rows="4px"  style="resize:none"  required></textarea>
                        <button class="btn btn-success" @click="insert">添加</button><h2></h2>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">安全主题</th>
                                <th scope="col">主要内容</th>
                                <th scope="col">选择操作</th>
                            </tr>
                            </thead>
                            <tbody id="tab">

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

</body>
<script type="text/javascript">

    <!--员工登录验证-->
    window.onload=function () {

        $.ajax({
            type:"post",
            url:"../admin/getAdmin",
            // data:JSON.stringify(info),
            // contentType: 'application/json;charset=UTF-8',
            // dataType:"json",
            success: function(data){
                if(data.adminState == 1){
                    app.isAdmin=false
                }
                if (data==""){
                    alert("当前为获取到员工信息，请登录...")
                    window.open(url="../html/adminLogin.html","_self")
                }else {
                    $("#addname").append("当前用户:"+data.adminName+"")
                    showAll()
                }
            }
        });
    }
    /*显示信息*/
    function showAll() {

        $("#tab").empty();
        var str = " "
        $.ajax({
            type:"post",
            url:"../security/getSecurity",
            contentType: 'application/json;charset=UTF-8',
            dataType:"json",
            success: function(data){
                for(var i=0;i<data.length;i++){

                    str="<tr>" +
                        "<td>"+data[i].securityTitle+"</td>"+
                        "<td>" +data[i].securityContents+"</td>" +
                        "<td >" +
                        "<button onclick='deleteById(value)' value='"+data[i].securityId+"'  class='btn btn-danger'>删除信息</button>" +
                        "</td>"+
                        "</tr>";

                    $("#tab").append(str);
                }

            }
        });
    }
    /*删除信息*/
    function deleteById(value) {
        console.log(value)
        var r=confirm("您确定要删除?")
        if (r==true){
            $.ajax({
                type :"post",
                url:"../security/deleteInfo",
                data:"securityId="+value,
                success:function (data) {
                    if (data.msg=="删除成功") {
                        showAll()
                    }else {
                        alert(data.msg)
                    }
                }
            })
        }
    }

    var app = new Vue({
        el:"#app",
        data:{
            isAdmin:true,

        },
        methods:{

            insert:function () {
                var securityTitle = $("#hear").val()
                var securityContents = $("#contents").val()
                var info = {"securityTitle":securityTitle,"securityContents":securityContents}
                console.log(info)
                $.ajax({
                    url:"../security/insertInfo",
                    type: "post",
                    data:JSON.stringify(info),
                    contentType: 'application/json;charset=UTF-8',
                    dataType:"json",
                    success:function (data) {
                        if (data.msg=="添加成功") {
                            securityTitle = $("#hear").val("")
                            securityContents = $("#contents").val("")
                            showAll()
                        }else {
                            alert(data.msg)
                        }
                    }
                })
            },


        }
    })
</script>
</html>